/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .interactif{
  background-color: #F29200;
  padding: 10px;
 }

 .creation_characters{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 100px 0px 100px 0px;
 }

 .characters_content{
   display: flex;
   justify-content: center;
 }

 .form_content{
  display: flex;
  flex-direction: row-reverse;
 }
.section_input{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_input{
  display: flex;
  flex-direction: column;
margin-top: 25px;
margin-bottom: 25px;
}

 .section_item{
  display:flex;
  flex-direction: column;
  padding: 5px;
  width: 400px;
 }

 .item{
  display: flex;
  justify-content: space-evenly;
  background-color: #F29200;
 }

 .button-validation{
   display: flex;
   flex-direction: row-reverse;
   justify-content:space-between;
 }

 .target{
   background-color: blueviolet;
 }

.text-main-color{
  color: #F29200;
}

.characters{
  position: relative;
}

.chr_mannequin,
.chr_eyes,
.chr_hair{
  position: absolute;
}

.hidden_item{
  display: none;
}

.eyeshow1{
  position: absolute;
  top:65px;
  left:50px;
}

.eyeshow2{
  position: absolute;
  top:75px;
  left:50px;
}

.eyeshow3{
  position: absolute;
  top:70px;
  left:50px;
}

.hair1{
  position: absolute;
  width: 225px;
  top:-50px;
  left: 20px;

}

.hair2{
  position: absolute;
  width: 185px;
  top:-25px;
  left: 30px;
}

.hair3{
  position: absolute;
  top:-25px;
  left: 30px;
}
